<div class= "container select-effect">
    <div class="row">
    <div class="col">
            <h2>Experiencia:</h2>  
                <ul>
                    <li>Experiencia en la utilización de aplicaciones de edición de video, audio e imagen, como Filmora, Audacity o Photoshop.</li> 
                    <div class="col">
                    <li>Experiencia  en copywriting</li>
                    <div class="col"></div>
                    <li>Experiencia en creación y administracion de E-Commerce</li>
                    <div class="col"></div>
                    <li>Experiencia en la utilización de WordPress</li>
                    <div class="col"></div>
                    <li>Experiencia en creacion de landing page</li>
                    <div class="col"></div>
             
    